<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign-up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div>
    <p>
        A one-time password will be sent to the mobile phoned linked to your account
    </p>
</div>

<div id="container-login">

    <div id="title">
        <i class="material-icons lock">lock</i> Get one-time password
    </div>

    <span th:if="${error}">
        <p th:text="${errorMessage}">error</p>
    </span>

    We'll send a one-time password to the phone number associated with the email.

    <form method="POST" th:action="@{/login/email}">
        <div class="input">
            <div class="input-addon">
                <i class="material-icons">face</i>
            </div>
            <input name="email" placeholder="your email" type="text" required class="validate" autocomplete="off">
        </div>

        <div class="clearfix"></div>

        <input name="appId" type="hidden" th:value="${appId}"/>
        <input type="submit" value="Send OTP"/>
    </form>

</div>

</body>
</html>