
<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign-up</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="main.css" th:href="@{/css/main.css}">
    </head>

    <body>

        <div>
            <p>
                Check your email for a link with which you can verify your account.
            </p>
        </div>

    </body>
</html>
